<div class="navbar">
      <div class="navbararea">
            <span class="name">Beedle</span>

            <a class="navA" href="/" ><i class=" fa-sharp fa-solid fa-house fa-lg" ></i></a>
            {{!-- <a class="navA" href="#" ><i class=" fa-regular fa-list fa-lg" ></i></a> --}}
            <a class="navA" href="/editposts"><i class=" fa-regular fa-pen-to-square fa-lg" ></i></a>
            <a class="navA" href="/chat"> <i class="fa-brands fa-rocketchat"></i></a>
            {{!-- <a class="navA" href="#"><i class=" fa-regular fa-bell fa-lg"></i> </a>    --}}
            <input class="search" placeholder=" Search quora " >
            {{!-- <button class="tryquora"> Try Quora+</button> --}}
            <a class="navA j"  href="/login" style="height:15px;">{{user}}</a>
            <button class="tryquora"> <a href="/logins/logout" style="text-decoration:none;" > Log Out</a></button>
            {{!-- <button class="add_question"> Add Question + </button> --}}
        </div>      
</div>