 <div class="login-box">
            {{!-- <h2>Login</h2> --}}
            <form class="postinfoform" action="/addpost" method="POST">
                <div class="user-box">
                <input type="text" name="title" required="">
                <label>Post Title</label>
                </div>
                <div class="user-box">
                <input type="text" name="description" required="">
                <label>Description</label>
                </div>
                <div class="user-box">
                <input type="text" name="imageurl" required="">
                <label>Image Url</label>
                </div>
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                {{!-- <span></span> --}}
                Submit
                </a>
            </form>
            </div>