<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Feed</title>
    <script src="https://kit.fontawesome.com/4810801808.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles/postpage.css">
    <script defer src="./scripts/chatpage.js"></script>
    <style>
        .aa{
            background-color:rgb(240, 240, 241);
            height: 100vi; 
            }
    </style>
</head>
<body>
    <!-- navbar code starts here -->
    {{> navbar}}
    <!-- navbar ends here -->
    <div class="mainarea aa">     <!--for grey background -->
        <br><br><br>
        <div class="flexarea">
            <div class="categories">
                <button class="category" style="background-color: #dad8d8;">+ Create Space</button>
                <button class="category">Immigration & Visas club</button>
                <button class="category">Joint Entrance</button>
                <button class="category">Higher Education</button>
                <button class="category">Physics</button>
                <button class="category">Chemistry</button>
                <button class="category">Maths</button>
            </div>
           
            <!-- scrolling post part starts here -->
            <div class="postsarea">
                <h1>{{mess1}}</h1><br>
                <h1>Chats</h1><br>
                <h1>{{mess}}</h1>
                <form class="newchat" action="/newchat" method="POST">
                <input name="chatname" class="inpnewchat" placeholder=" Give username" >
                <button class="btnnewchat" type="submit">Add new chat</button>
                </form><span style="margin:10px;" class="invalid"></span>
              <ul>
                  {{#each users.chatpersons as |person| }}
                    <li><a href="/messages?recusername={{person}}" >{{person}}</a></li>
                {{/each}}
              </ul>
                                
            </div>
            {{!-- <div class="ads" >  advertisement</div> --}}
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>